@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  max-height: auto;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 1.5rem 0;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5rem 0;
}

.board{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 2rem 0;
}

.board-row{
  height: 105px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button{
  height: 100px;
  width: 100px;
  border: 3px solid darkgreen;
  font-size: 3rem;
  margin: 2px;
}

ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
}

.pills{
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px 15px;
  margin: .5rem 1rem;
  font-size: 12px;
  cursor: pointer;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.title strong{
  margin-left: 1rem;
  font-size: 2rem;
}

em{
  color: red;
  font-size: 1.5rem;
  margin: 1em  0;
  font-weight: bold;
}

@media screen and (max-width: 700px) and (min-width: 300px) {
  .container{
    display: flex;
    height: max-content;
  }


  ul{
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 300px) {
  .container{
    display: flex;
    height: max-content;
  }


  ul{
    grid-template-columns: auto auto;
  }

  button{
    height: 90px;
    width: 90px;
  }

  .board-row{
    height: 95px;
    width: 270px;
  }

  .board{
    height: 270px;
    width: 270px;
  }
}